<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-6">
<div class="container">
  <h2 href="/" class="navbar-brand" style="color:#FFD700">Pour les Coach</h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
    <span class="navbar-toggle-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mobile-nav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/" class="nav-link" style="color:#FFD700">Acceuil</a>
      </li>
      <li class="nav-item">
        <a href="/Cours/new" class="nav-link" style="color:#FFD700">Ajouter des cours</a>
      </li>
       <li class="nav-item">
        <a href="{{ path('new_Classe')}}" class="nav-link" style="color:#FFD700">Ajouter Classe</a>
      </li>
    </ul>
  </div>
</div>
</nav>